
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" href="">
</head>
<body>
	<% namsinh.forEach(function(item){ %>
 	<h1> <%= item %></h1> 
	<br>
 	<% }); %>
</body>
</html>

